html, body {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(41, 40, 38);
}

.reactLogo {
    padding: 5px;
    width: 70px;
    margin-left: 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-items {
    list-style: none;
    display: flex;
  
}

.nav-items > li {
    padding: 10px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.content {
    background-color: lightgray;
    padding-left: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content > h1 {
    margin-left: 15px;
}
.footer {
    background-color: gray;
    color: white;
    padding: 10px;
}

.myReasons {
    display: flex;
    flex-direction: column;
}

.navigationBar {
    display: flex;
    background-color: black;
    color: lightskyblue;
    padding-top: 15px;
    padding-bottom: 15px;

}

.leftTitle {
    margin-left: 10px;
    
}

.rightTitle {
   margin-left: auto;
   margin-right: 20px;
   color: white;
}

.HeaderMain {
    font-size: 70px;
    margin-left: 30px;
    color: white;
}

.Main > ol {
    color: white;
    list-style-type: disc;
    margin-left: 60px;
    font-size: 30px;
}

.listComponent::marker {
    color: lightskyblue;
    font-size: 1.4rem;
}

.Main{
    background-color: rgb(41, 40, 38);
    display: flex;
    flex-direction: column;
    background-image: url(react.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    height: 700px;
    background-size: 700px;
}

.listComponent {
    padding-block: 10px;
}