body {
    margin: 0;
    font-family: 'poppins', sans-serif;
}
.logo {
    height: 40px;
    margin-top: 15px;
}

.navigationBar {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;
}

.groupImg {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-self: center;
    min-width: 400px;
}

.BigText {
    font-size: 70px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.Main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.text {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 40px;
}

.card {
    width: 200px;
    padding: 40px;
}

.personCard {
    width: 100%;
    border-radius: 9px;
    min-height: 65%;
    height: 250px;
    max-width: 180px;
}

.cardStats {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.grayText {
    color: gray;
    padding-left: 5px;
}

.boldSpan {
    font-weight: bold;
}

.cardContainer {
    display: flex;
   flex-wrap: wrap;
}

.starIcon {
    height: 15px;
    margin-right: 5px;
}